#buttonUS {
    -fx-font-size: 12px;
    -fx-background-color: sandybrown;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#buttonUK {
    -fx-font-size: 12px;
    -fx-background-color: sandybrown;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#defined {
    -fx-background-color: dodgerblue;
}

#pane {
    -fx-background-color: lightgreen;
}

#search {
    -fx-font-size: 12px;
    -fx-background-color: green;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#barsearch {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
